.prism-widget {
	margin: 1em;
	padding: 1em;
	border: solid 1px #ccc;
}
.prism-pr {
	margin-bottom: 2em;
}

.prism-pr-field.fld-what,
.prism-pr-field.fld-how,
.prism-pr-field.fld-who,
.prism-pr-field.fld-when {
	width: 4rem;
	float: left;	
}

.prism-pr-field.fld-overseen {
	float: left;	
}

.prism-pr-field:not(.fld-comments)::after {
	content: ":\00a0"
}

.prism-pr-field-value {
	margin: 0;
}

.prism-pr-field-desc {
	margin: 0 0 1em 4rem;
}

.prism-pr-field-value.fld-comments {
	margin-bottom: 1em;
}
.prism-pr-field-value::after {
	display: block
}
