.prism-widget {
	margin: 1em;
	padding: 1em;
	border: solid 1px #ccc;
}
.prism-pr {
	margin-bottom: 1em
}
.prism-pr-fields dt, .prism-pr-fields dd {
	margin: 0;
}
.fld-what, .fld-how, .fld-who, .fld-when, .fld-overseen {
	display: inline;
}
.prism-pr-field-value.fld-comments {
	margin-bottom: 1em;
}
.prism-pr-field-value::after {
	content: " "; 
	display: block
}
