<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
	<title>
		Prism Peer Review Information
		<th:block th:if="${prismResponse.error == null}" th:text="${'for ' + prismResponse.book.title}"></th:block>
	</title>
	<link rel="stylesheet" href="/resources/css/layout.css"></link>
	<link rel="stylesheet" href="/resources/css/typeface.css"></link>
</head>
<body>

	<div class="prism-wrapper prism-title">
	
		<div th:if="${prismResponse.error != null}" class="prism">
			<h1 th:text="${prismResponse.code}"></h1>
			<p th:text="${prismResponse.error}">error message</p>
		</div>
		
		<div th:if="${prismResponse.error == null}" class="prism">
		
			<h1 class="prism-hdr">
				<span class="prism-hdr-text">Peer Review Information</span> 
				<span class="prism-hdr-for">for</span>
				<span class="prism-hdr-type">title</span>
				<span class="prism-hdr-title" th:text="${prismResponse.book.title}">A Book Title</span>
			</h1>
		
			<h2 class="prism-hdr-sub">
				The publisher
				<span th:text="${prismResponse.publisher.name}" class="prism-hdr-sub-publisher">ABC Corp</span> 
				has registered with DOAB Prism the Peer Review Process for
				<span th:text="${prismResponse.numberOfReviews}">1</span> 
				Peer Review type<th:block th:if="${prismResponse.numberOfReviews} != 1">s</th:block>:
			</h2> 	
			
			<ol class="prism-prs">
			
				<li th:each="pr: ${prismResponse.peerReviews}" class="prism-pr">
				
					<dl class="prism-pr-fields">
					
						<dt class="prism-pr-field fld-comments" th:if="${pr.review!=null}">Review Comments</dt>
						<dd class="prism-pr-field-value fld-comments" th:if="${pr.review!=null}" th:text="${pr.review}">Full text</dd>
					
						<dt class="prism-pr-field fld-what">What</dt>
						<dd class="prism-pr-field-value fld-what" th:text="${pr.object}">Full text</dd>
						<dt class="prism-pr-field-desc fld-what">What is being reviewed?</dt> 
	
						<dt class="prism-pr-field fld-who">Who</dt> 
						<dd class="prism-pr-field-value fld-who" th:text="${#strings.replace(pr.conductedBy,';','; ')}">Editorial board member; External peer reviewer</dd>
						<dt class="prism-pr-field-desc fld-who">Who conducts the peer review?</dt> 
	
						<dt class="prism-pr-field fld-how">How</dt>
						<dd class="prism-pr-field-value fld-how" th:text="${pr.type}">Single-blind</dd>
						<dt class="prism-pr-field-desc fld-how">What is the level of anonymity?</dt> 
	
						<dt class="prism-pr-field fld-when">When</dt>
						<dd class="prism-pr-field-value fld-when" th:text="${pr.stage}">Pre-publication</dd>
						<dt class="prism-pr-field-desc fld-when">At what stage is the peer review being conducted?</dt> 
	
						<dt class="prism-pr-field fld-overseen">Peer review is overseen by</dt>
						<dd class="prism-pr-field-value fld-overseen" th:text="${pr.overseenBy}">Scientific or Editorial Board</dd>
						
					</dl>
					
				</li>
			
			</ol>
	
		</div>
		
	</div>	

</body>
</html>




